.splide__list {
  text-align: center;
  align-items: center;
  margin: auto !important;
}

.kevnnard {
  font-size: xx-small;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  color: #ffc;
  padding: 0.5rem;
  user-select: none;
}

.icon__point_red {
  animation: iconAnimation 1s alternate infinite ease-in-out;
}

@keyframes iconAnimation {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1.1);
  }
}
